<html>
  <head>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>{% block title %}Savings Tracker{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css" rel="stylesheet">
        <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link rel="stylesheet" type="text/css" href="static/css/DT_Bootstrap.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/DT_Bootstrap.js"</script>
  </head>

  <!--  Nav Bar -->
    <body>
    <script src="../assets/js/bsa.js"></script>
  
          <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Savings Tracker</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">


          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="menu">{{nickname}}'s menu <span class="caret"></span></a>
             <ul class="dropdown-menu" aria-labelledby="menu">
                <li><a tabindex="-1" href="/add_account">Add Accounts</a></li>
                <li><a tabindex="-1" href="/view_accounts">View Accounts</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="/add_category">Add Categories</a></li>
                <li><a tabindex="-1" href="/view_categories">View Categories</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="/add_goal">Add Goals</a></li>
                <li><a tabindex="-1" href="/view_goals">View Goals</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="/add_transactions">Add Transactions</a></li>
                <li><a tabindex="-1" href="/view_transactions">View Transactions</a></li>
                <li class="divider"></li>
                <li><a href="/help">Help</a></li>
                <li><a href="mailto:dev@DogIslandSoftware.com?Subject=Budget%20Buddy" target="_top">Contact Us</a></li>
                <li><a href="http://dogislandsoftware.wordpress.com/">Blog</a></li>
                <li class="divider"></li>
                <li><a href="https://accounts.google.com/Logout">Logout</a></li>
              </ul>

          </ul>

        </div>
      </div>
    </div>
  <!-- End Nav Bar -->

  <div>
    <div class="wrapper">
    {% block content %}
    {% endblock content %}
    </div>
    </div>
     <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
