{% extends "base.html" %}

{% block content %}

<div class='container'>
    <H3><strong>View Goals</strong></H3>
    <table cellpadding="0" cellspacing="0" border="0" width=95% class="table table-striped table-bordered" id="example">
        <THead>
            <TR>
                <TH width='20%'><strong>Goals</strong></TH>
                <TH width='20%'><strong>Categories</strong></TH>
                <TH width='20%'><strong>Amount</strong></TH>
                <TH width='20%'><strong>Manage</strong></TH>
            </TR>
        </THEAD>
        
        <TBODY>
        {% for goal in goals %}
            <TR>
                <TD width='20%'>{{ goal.name }}</TD>
                <TD width='20%'>{{ goal.category.name }}</TD>
                <TD width='20%'>{{ goal.amount }}</TD>
                <TD width='20%'><a href ="edit_goal/{{ goal.key().id() }}">Edit</a> <a href ="/delete_goal/{{ goal.key().id() }}">Delete</a></TD>
            </TR> 
        {% endfor %} 
        </TBODY>
        
    </TABLE> 
</div>
{% endblock %}